<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title is-2">Posts</h1>
        <%= render @posts %>
      </div>
    </div>
  </div>
</div>
