<div class="section">
  <div class="container is-centered">
    <div class="card">
      <div class="card-content">
        <div class="content is-medium">
          <div class="body">
            <%= simple_format @post.body %>
          </div>
        </div>
        <hr>
        <div class="member">
          Posted by:
          <% if member_signed_in? %>
            <%= @post.member.name %>
          <% else %>
            Anonymous
          <% end %>
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <%= link_to posts_path do %>
            <button class="button is-primary is-outlined">
              All Posts
            </button>
          <% end %>
        </p>
        <% if current_member == @post.member %>
          <p class="card-footer-item">
            <%= link_to edit_post_path(@post), class: "level-item" do %>
              <span class="icon">
                <i class="fa fa-pencil" area-hidden="true"></i>
              </span>